nav
    ul
        li
            a(routerLink="/rxjs", routerLinkActive="active") Rxjs
        li
            a(routerLink="/subjects", routerLinkActive="active") Subjects
        li Hot & Cold
        li Store
        li Translation
        li Forms
        li canActivate

router-outlet
