nav
    ul
        li
            a(routerLink="/rxjs", routerLinkActive="active") Rxjs
        li
            a(routerLink="/subjects", routerLinkActive="active") Subjects
        li
            a(routerLink="/hot-cold", routerLinkActive="active") Hot &amp; Cold
        //li Store
        //li Translation
        //li Forms
        //li canActivate
        li
            a(routerLink="/reactive-forms", routerLinkActive="active") Reactive forms

router-outlet
